<section id="about-section">
  <div class="about">
    <h1>A bit about me</h1>
    <p> I have always had the intense admiration towards designs which were great yet simple. It was very recently, that i developed interest in front-end development, and my inspiration was from none other then <strong><a href="https://www.apple.com/in/macbook-pro-16/" id="macbook">apple.com </a></strong>. Their UX was mind-blowing that, on the day of Macbook Pro 16 inch launch, i was lot more interested on the product page than the product itself and spent hours inspecting each element on that page. So now,  I am on this long journey in which the first stop is to be able to build websites like Apple's. </p>
  </div>
</section>