<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="../assets/stylesheets/game.css">
  <meta charset="utf-8"/>
</head>
<body>
	<div id="setup">
		<p> Choose number of sets :
	<select id="pairsCount">
		<option value="6">6</option>
		<option value="8">8</option>
		<option value="12">12</option>
	</select>
	<button type="button" onClick="getDesiredCount('pairsCount')">Generate</button></p>
	</div>
	<div id="board">
	</div>
	<div id="reset">
	<button type="button" onClick="getDesiredCount('pairsCount')">Reset</button>
  </div>
  <%= javascript_include_tag('game.js') %>
</body>
