<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <section id="home-section">
      <div class="intro">
        <p id="hello">Hello !</p>
        <h1 class="myname">&lt; I'm Gogulaanand /&gt;</h1>
        <p>Web Developer driven to develop websites with great UI/UX</p>
        <div>
          <a href="  mailto:gogulaanand02@gmail.com?body=*%20I%20am%20excited%20to%20have%20the%20first%20conversation%20between%20us.%20Send%20away%20the%20mail%20%3A)%20*%20" target="_blank" rel="noopener noreferrer" class="fa fa-envelope fa-2x"></a>
          <a href="https://twitter.com/Gogulaanand13" target="_blank" class="fa fa-twitter fa-2x" id="social-icons"></a>
          <a href="https://www.linkedin.com/in/gogulaanand/" target="_blank" class="fa fa-linkedin fa-2x" id="social-icons"></a>
          <a href="https://github.com/Gogulaanand" target="_blank" class="fa fa-github fa-2x" id="social-icons"></a>
          <a href="https://codepen.io/RGog" target="_blank" class="fa fa-codepen fa-2x" id="social-icons"></a>
        </div>
      </div>
    </section>
  </body>
</html>