<section id="projects">
  <h1>Projects</h1>
  <div id="proj-cards">
    <a href="https://codepen.io/RGog/full/vYEmWGe">
      <div class="project-tile" id="proj1">
        <p>Product Landing Page</p>
      </div>
    </a>
    <a href="https://codepen.io/RGog/full/qBEjLvy">
      <div class="project-tile" id="proj2">
        <p>Technical Documentation</p>
      </div>
    </a>
    <a href="https://codepen.io/RGog/full/oNgBNrV">
      <div class="project-tile" id="proj3">
        <p>Survey Form</p>
      </div>
    </a>
    <a href="https://codepen.io/RGog/full/gObwVoR">
      <div class="project-tile" id="proj4">
        <p>A Tribute Page</p>
      </div>
    </a>
    <a href="https://codepen.io/RGog/full/abzYNYm">
      <div class="project-tile" id="proj5">
        <p>Contact Form</p>
      </div>
    </a>
    <a href="https://codepen.io/RGog/full/abzEMQP">
      <div class="project-tile" id="proj6">
        <p>CSS Grid Resume</p>
      </div>
    </a>
  </div>
</section>