@mixin proj-card-background{
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
@mixin enlarge-anim($time, $behaviour){
	-webkit-animation: enlarge $time $behaviour;
	-moz-animation: enlarge $time $behaviour;
	-o-animation: enlarge $time $behaviour;
	animation: enlarge $time $behaviour;
}
@mixin rotate-anim{
	-webkit-animation: rotate360 0.4s forwards;
	-moz-animation: rotate360 0.4s forwards;
	-o-animation: rotate360 0.4s forwards;
	animation: rotate360 0.4s forwards;
}
@mixin prefix-for-enlarge-anim{
	0%{
		transform: scale(1);
	}
	100%{
		transform: scale(1.3);
	}
}
@mixin prefix-for-rotate-anim{
	0%{
		-webkit-transform: rotate(0deg) scale(1);
	}
	100%{
		-moz-transform: rotate(360deg) scale(1.3);
	}
}
body{
	font-family: 'Montserrat',sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
header{
	width: 100%;
	opacity: 0.8;
}
header .fa{
	display: inline-block;
	margin: 0;
	padding: 0;
}
.nav-link{
	position: relative;
	display: inline-block;
	margin: 0 20px;
	text-decoration: none;
	color: #000;
}
nav ul{
	display: flex;
	justify-content: flex-end;
}
nav ul li{
	list-style: none;
	margin-right: 40px;
}
nav ul li a,
nav ul li a:before,
nav ul li a:after{
	transition: 0.2s ease all;
}
nav ul li a{
	position: relative;
}
nav ul li a:after{
	position: absolute;
	bottom: -4px;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color: transparent;
	background: #000;
	height: 2px;
}
nav ul li a:hover:after{
	width: 100%;
}
.intro{
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 1.2;
}
.myname{
	font-size: 4em;
	justify-self: center;
	color: #b7b8b6;
	margin: 0 auto;
	overflow: hidden;
	white-space: nowrap;
	border-right: 0.1em solid #000;
	animation: typing 2s steps(40,end), 
			   blinking-caret 0.75s infinite;
}
@keyframes typing{
	0% { width: 0 }
	100% { width: 100% }

}
@keyframes blinking-caret{
	0%, 100% { border-color: transparent; }
	50% { border-color: #000; }
}
.intro p{
	justify-self: center;
}
.about{
	margin: 100px 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.about h1{
	align-self: center;
}
.about p{
	width: 60%;
	line-height: 1.4;
	font-size: 20px;
	align-self: center;
}
#projects{
	margin: 100px 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#proj-cards{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}
#proj-cards a{
	text-decoration: none;
}
#proj1{
	background-image: url(https://screenshot.codepen.io/3887570.vYEmWGe.f3731e83-19d6-4bc1-870b-d702f389036b.png);
	@include proj-card-background;
}
#proj2{
	background-image: url(https://screenshot.codepen.io/3887570.qBEjLvy.small.46c2250f-9868-4fc5-ae2e-bd6e4532654e.png);
	@include proj-card-background;
}
#proj3{
	background-image: url(https://screenshot.codepen.io/3887570.oNgBNrV.small.0960e43f-268f-4068-988e-0e11b65da768.png);
	@include proj-card-background;
}
#proj4{
	background-image: url(https://screenshot.codepen.io/3887570.gObwVoR.small.b29e075c-4b08-4aff-90f2-027d60f68877.png);
	@include proj-card-background;
}
.project-tile{
	width: 300px;
	height: 240px;
	margin: 25px;
	border-radius: 8px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
		0 2px 2px rgba(0,0,0,0.11), 
		0 4px 4px rgba(0,0,0,0.11), 
		0 6px 8px rgba(0,0,0,0.11),
		0 8px 16px rgba(0,0,0,0.11);
	background: #f1f1f1;
	transition: ease 1s all;
	display: flex;
	flex-direction: column;
	&:hover{
		transform: scale(1.2);
		box-shadow:
		12px 4.7px 9px rgba(0, 0, 0, 0.053),
		16px 15.9px 30.2px rgba(0, 0, 0, 0.077),
		25px 71px 135px rgba(0, 0, 0, 0.13);
		overflow: hidden;
		}
}
.project-tile p{
	color: #000;
}
#contact-section{
	margin: 100px 0 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #A0A0A0;
}
.fa{
	margin: 30px;
	text-decoration: none;
	text-align: center;
	font-size: 100px;
	&:hover{
		text-shadow: 0px 12px 11px rgba(0, 0, 0, 0.4);
	}
}
.fa-envelope{
	color: #f56a77;
	&:hover{
		@include enlarge-anim(0.4s,forwards);
	}
}
.fa-twitter{
	color: #55ACEE;
	&:hover{
		color: #55ACEE;
		@include enlarge-anim(0.6s,infinite);
	}
}
.fa-linkedin{
	color: #0077B5;
	&:hover{
		@include enlarge-anim(0.4s,forwards);
	}
}
.fa-github{
	color: #000;
	&:hover{
		@include enlarge-anim(0.4s,forwards);
	}
}
.fa-codepen{
	background: #fff;
	&:hover{
		text-shadow: none;
	white-space: nowrap;
	overflow: visible;
	@include rotate-anim;
	}
}
@-webkit-keyframes enlarge{
	@include prefix-for-enlarge-anim;
}
@-moz-keyframes enlarge{
	@include prefix-for-enlarge-anim;
}
@-o-keyframes enlarge{
	@include prefix-for-enlarge-anim;
}
@keyframes enlarge{
	@include prefix-for-enlarge-anim;
}
@-webkit-keyframes rotate360{
	@include prefix-for-rotate-anim;
}
@-moz-keyframes rotate360{
	0%{
		-moz-transform: rotate(0deg);
	}
	100%{
		-moz-transform: rotate(360deg);
	}
}
@-o-keyframes rotate360{
	@include prefix-for-rotate-anim;
}
@keyframes rotate360{
	@include prefix-for-rotate-anim;
}
@media only screen and (max-width: 770px){
	#contact-section h1{
		font-size:26px;
	}
	#contact-section h2{
		font-size:20px;
	}
}
@media only screen and (max-width: 750px){
	#contact-section h1{
		font-size:24px;
	}
	#contact-section h2{
		font-size:18px;
	}
}
@media only screen and (max-width: 684px){
	nav ul li{
		margin-right: 25px;
	}
	#contact-section h1{
		font-size:20px;
	}
	#contact-section h2{
		font-size:16px;
	}
	.fa{
		font-size: 40px;
	}
}
@media only screen and (max-width: 569px){
	nav ul li{
		margin-right: 15px;
	}
	.fa{
		font-size: 25px;
	}
}
@media only screen and (max-width: 470px){
	nav ul{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: space-evenly;
		flex-wrap: wrap;
	}
	nav ul li{
		margin-top: 20px;
	}
}